.Rproj.user
.Rhistory
.RData
.Ruserdata
data/community_data/community_matrices_effort.RData
R/10_Matching_PoolLocalData.R
data/pool_data/*.RData
data/pool_data/*.rar
data/pool_data/ensemble/*.RDS
data/pool_data/occ_all/*.tif
data/pool_data/occ_all/*.tif
data/pool_data/ProbPool*
data/traits/*.RData
data/terr-ecoregions-TNC/
output/*.RData
output/figures